:root {
  --text-size-primary: 16px;
  --text-size-increased: 22px;
  --text-size-decreased: 13px;
}

html[data-theme='light'] {
  --bg-color-primary: #ffffff;

  --bg-color-accent: #ededed;
  --bg-color-neutral: #ededed;
  --bg-color-invert: #797979;

  --text-color-primary: #111111;
  --text-color-accent: #1b66c9;
  --filter-invert: 0.5;
}

html[data-theme='dark'] {
  --bg-color-primary: #202124;

  --bg-color-accent: #3c3d40;
  --bg-color-neutral: #28292a;
  --bg-color-invert: #7d7d7d;

  --text-color-primary: #eeeeee;
  --text-color-accent: #adcaf7;
  --filter-invert: 0;
}
