:root {
  --bg-color-primary: #202124;

  --bg-color-accent: #3c3d40;
  --bg-color-neutral: #28292a;

  --text-color-primary: #ffffff;
  --text-color-accent: #adcaf7;

  --text-size-primary: 16px;
  --text-size-increased: 22px;
  --text-size-decreased: 12px;
}
